@model JC_BookStation.Data.Models.Venda

@{
    ViewBag.Title = "Venda";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Dados da Venda</h2>
<div class="form-horizontal dados">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                @Html.Label("Cliente", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.Editor("IdCliente", new { htmlAttributes = new { @class = "form-control input-sm", @disabled = "disabled" } })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Tipo da Venda", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownList("TipoVenda", new[] {
                            new SelectListItem {Text = "VENDA DIRETA", Value = "0"},
                            new SelectListItem {Text = "VENDA CONSIGNADA", Value = "1"}
                        }, "TIPO DA VENDA", new { @class = "form-control input-sm", @data_bind = "value: TipoVenda" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Tipo Financeiro", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownList("IdFinanceiroTipo", ViewBag.IdFinanceiroTipo as SelectList, "TIPO FINANCEIRO", new { @class = "form-control input-sm", @data_bind = "value: IdFinanceiroTipo" })
                </div>
            </div>
        </div>
        <div class="col-sm-6">

            <div class="form-group">
                @Html.Label("Parcelas", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.TextBox("Parcelas", null, new { @class = "form-control input-sm", @data_bind = "value: Parcelas" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Data da Venda", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.TextBox("DataVenda", null, new { @class = "form-control input-sm", @title = "Data da Venda", @data_bind = "date: DataVenda", @disabled = "disabled" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Valor da Venda", new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.TextBox("Valor", null, new { @class = "form-control input-sm dinheiro", @data_bind = "value: grandTotal" })
                </div>
            </div>
            @Html.Hidden("idVenda", null, new { @data_bind = "value: idVenda" })
        </div>
    </div>
</div>

<h2>Produtos da Venda</h2>
<div class="form-horizontal dados">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th width='15%'>Código de Barras</th>
                <th width='40%'>Nome do Produto</th>
                <th width='05%'>Quant.</th>
                <th width='10%'>Bonus </th>
                <th width='15%'>Valor</th>
                <th width='15%'>Subtotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input id="CodigoBarras"
                           name="CodigoBarras"
                           title="Código de Barras do Produto"
                           type="text"
                           size="4"
                           class="form-control input-sm"
                           placeholder="Cód. de Barras"
                           data-bind="value: CodigoBarras" />
                </td>
                <td>
                    <span data-bind='text: Nome'> </span>
                </td>
                <td>
                    <input id="Quantidade"
                           name="Quantidade"
                           title="Quantidade"
                           type="text"
                           size="2"
                           class="form-control input-sm"
                           placeholder="Quant."
                           data-bind="value: Quantidade, valueUpdate: 'afterkeydown'" />
                </td>
                <td>
                    <span data-bind='text: Comissao'> </span>
                </td>
                <td>
                    <span data-bind="text: ValorUnitario"> </span>
                </td>
                <td>
                    <span data-bind='text: formatCurrency(subtotal())'> </span>
                </td>
                <td>
                    <button id="btnAdd"
                            type="button"
                            class="btn btn-sm btn-success"
                            data-bind="click: adcionarItem"
                            value="Adicionar Produto na Lista"
                            title="Adicionar Produto na Lista">
                        Adicionar Produto
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <table id="listaProdutos" class="table table-hover table-condensed table-bordered table-responsive">
        <thead class="bg-info">
            <tr>
                <th>Código Barra</th>
                <th>Nome do Produto</th>
                <th>Qnt.</th>
                <th>Bonus</th>
                <th>Vl. Unitário</th>
                <th>Subtotal</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: listaProdutos">
            <tr>
                <td data-bind="text: CodigoBarras"></td>
                <td data-bind="text: Nome"></td>
                <td data-bind="text: Quantidade"></td>
                <td data-bind="text: formatCurrency(Comissao)"></td>
                <td data-bind="text: formatCurrency(ValorUnitario)"></td>
                <td data-bind="text: formatCurrency(subtotal)"></td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-sm btn-danger glyphicon glyphicon-trash" title="Remover da lista" href='#' data-bind='click: $root.excluir'></a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="panel-footer">

        <input id="btn-Salvar" type="button" class="btn btn-primary" data-bind="click: salvarProduto" value="Finalizar Venda" title="Finalizar Venda" />
        @Html.ActionLink("Imprimir Venda", "PdfProdutosVenda", "Venda", null, new { @id = "btn-Imaprimir", @class = "btn btn-info disabled", @title = "Imprimir Venda", @target = "_blank;" })
        @*<input id="btn-Imaprimir" type="button" class="btn btn-warning disabled" data-bind="click: printProdutos" value="Imprimir Venda" title="Imprimir Venda" />
            @Html.ActionLink("Nota Promissória", "PdfNotaPromissoria", "Venda", null, new { @id="btn-Promissoria", @class = "btn btn-warning disabled", @title = "Nota Promissória", @target = "_blank;" })
            <input id="btn-Promissoria" type="button" class="btn btn-info disabled" data-bind="click: printPromissoria" data-id="@ViewBag.Id_Venda" value="Nota Promissória" title="Nota Promissória" />*@
        <a class="btn btn-danger" title="Tela Inicial" href="@Url.Action("Index", "Venda")">Cancelar</a>

        <h4 class="form-group pull-right">
            <b>Total de Itens: </b>
            <span data-bind="text: itemTotal"> </span>
            <b>Bonus</b>
            <span data-bind="text: itemBonus"> </span>
            <b>Valor Total: </b>
            <span data-bind="text: grandTotal"> </span>
        </h4>
    </div>
</div>

<div id="progress" class="ui-loader" style="top: 270px; left: 553px; display: none;">
    <div class="spin"></div>
    <span>Aguarde ...</span>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/knockout")
    <script src="~/Scripts/jquery.maskMoney.js"></script>
    <script src="~/Scripts/jquery.maskedinput-1.3.1.js"></script>
    <script src="~/MyJS/VendaVM.js"></script>
}
