@using PagedList.Mvc;
@model PagedList.IPagedList<JC_BookStation.Data.Models.Clientes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Listagem de Clientes para vendas</h2>
@*<hr/>*@
<div class="form-horizontal dados">

    @using (Html.BeginForm("Index", "Venda", FormMethod.Get, new { @class = "row" }))
    {
        <div class="col-md-7 col-xs-8">
            <div class="col-md-6">
                <div class="input-group">
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @autofocus = "autofocus", @placeholder = "Procura por Nome" })
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" title="Procurar">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-sm-3 text-right">
            @*@Html.ActionLink("Novo Registro", "Create", null, new { @class = "btn btn-success", @Title = "Cadastrar" })*@
            @Html.ActionLink("Voltar", "Index", "Home", null, new { @class = "btn btn-warning", @title = "Tela Inicial" })
        </div>
    }
    <br />
    <table class="table table-hover table-condensed table-responsive">
        <thead>
            <tr>
                <th>#</th>
                <th>@Html.ActionLink("Nome do Cliente", "Index", new { sortOrder = ViewBag.NomeParam })</th>
                <th>Login</th>
                <th>Celular</th>
                <th>Telefone</th>
                <th>Contato</th>
                <th>Data Cadastro</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.IdCliente.ToString("000"))*@
                        @item.IdCliente.ToString("0000")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Celular)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contato)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.NomeFantasia)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.DataCadastro)
                    </td>
                    <td>
                        <div class="btn-group">
                            @Html.ActionLink(" ", "Create", new { id = item.IdCliente }, new { @class = "btn btn-default glyphicon glyphicon-shopping-cart", @Title = "Abrir Venda" })
                            @*@Html.ActionLink(" ", "Vendas", new { id = item.IdCliente }, new { @class = "btn btn-default glyphicon glyphicon-eye-open", @Title = "Todas Vendas Deste Cliente" })*@
                            @Ajax.ActionLink(" ", "_Vendas", "Venda",
                                new
                                {
                                    id = item.IdCliente,
                                    nome = item.Nome
                                },
                                new AjaxOptions
                                {
                                    InsertionMode = InsertionMode.Replace,
                                    LoadingElementId = "divCarregando",
                                    UpdateTargetId = "divResultado",
                                    HttpMethod = "GET"
                                }, new { Class = "btn btn-default glyphicon glyphicon-eye-open", title = "Todas Vendas Deste Cliente" })
                            @Html.ActionLink(" ", "Edit", "Cliente", new { id = item.IdCliente }, new { @class = "btn btn-default glyphicon glyphicon-edit", @Title = "Editar dados do Cliente" })
                            @*<button id="btn-delete" class="btn btn-default btn-delete glyphicon glyphicon-trash" data-nome="@item.Nome" data-id="@item.IdCliente" title="Excluir Venda de @item.Nome"></button>*@
                        </div>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
        </tfoot>
    </table>

    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

    <div id="divResultado"></div>
</div>

<div id="divCarregando" class="ui-loader" style="top: 270px; left: 553px; display: none;">
    <div class="spin"></div>
    <span>Aguarde ...</span>
</div>

<div class="bb-alert alert alert-info" style="display:none;">
    <span>Os exemplos preencher esse alerta com conteúdo fictício</span>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(function () {
            Example.init({
                "selector": ".bb-alert"
            });
        });

        function Refresh() {
            location.reload(true);
        };
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".btn-delete").click(function (e) {
                e.preventDefault();
                var itemId = $(this).data('id');
                var nome = $(this).data("nome");
                bootbox.confirm("Tem certeza que deseja EXCLUIR " + nome + " ?", function (result) {
                    if (result) {
                        excluirCliente(itemId);
                        setTimeout("Refresh()", 3000);
                    }
                });
            });

            var excluirCliente = function (id) {
                var strUrl = "/Venda/DeleteVenda";
                $.post(strUrl, { id: id }, function (data) {
                    Example.show(data);
                }, "json");
            };
        });
    </script>
}
