@if (Request.IsAuthenticated)
{
    <div class="form-horizontal pull-right">
        <label class="navbar-brand">Olá @User.Identity.Name!</label>
        <form class="navbar-form navbar-left" role="search" action="@Url.Action("Sair", "Usuario")">
            <button type="submit" class="glyphicon glyphicon-log-out btn btn-danger" title="Sair"></button>
        </form>
    </div>
}
else
{
    using (Html.BeginForm("AutenticarUsuario", "Usuario", FormMethod.Post, new { @class = "nav navbar-form navbar-right", @id = "logoutForm" }))
    {
        <div class="form-horizontal">
            @Html.TextBox("Email", "E-mail", new { @class = "form-control input-sm ", @autofocus = "autofocus", @onfocus = "this.value=''", placeholder = "E-mail", @title = "e-mail de acesso" })
            @Html.Password("Senha", "Senha", new { @class = "form-control input-sm ", @onfocus = "this.value=''", placeholder = "Senha", @title = "Senha de acesso" })
            <button class="btn btn-sm btn-success" type="submit" title="Login"><i class="glyphicon glyphicon-log-in"></i></button>
        </div>
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

    <script type="text/javascript">
        $(document).ready(function () {
            function valida() {
                if (document.getElementById("Email") == "") {
                    alert("O campo Usuário é obrigatório");
                    return false;
                }
                return true;
            };
        });
    </script>
}
