    <ul class="nav nav-justified">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("A Empresa", "NossaEmpresa", "Home")</li>
        <li>@Html.ActionLink("Serviços", "Servicos", "Home")</li>
        <li>@Html.ActionLink("Produtos", "Produtos", "Home")</li>
        <li>@Html.ActionLink("Contato", "Contato", "Home")</li>
        <li>@Html.ActionLink("Área do Clente", "Index", "ValidaUsuario", new { Area = "Escritorio" }, new { @target = "_blanck" })</li>
    </ul>
